# Minimal dependencies for the OCR server container.
# mxnet 1.6.0 only runs on x86, so this container is always linux/amd64.
numpy==1.19.5
mxnet==1.6.0
gluoncv==0.6.0
pillow
opencv-python-headless
zerorpc==0.6.3
pyzmq==22.3.0
gevent
msgpack
